<h1>Listing categolies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>

<% @categolies.each do |categoly| %>
  <tr>
    <td><%=h categoly.name %></td>
    <td><%=h categoly.type %></td>
    <td><%= link_to 'Show', categoly %></td>
    <td><%= link_to 'Edit', edit_categoly_path(categoly) %></td>
    <td><%= link_to 'Destroy', categoly, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New categoly', new_categoly_path %>