<% row_number = 0 %>

<h1><%=h @year %>/<%=h @month %></h1>
<% @accounts.each do |acc| %>
  <h2><%=h acc.name %></h2>

  <table class="editor">
    <tr>
      <th class="inserts" rowspan="2">
      </th>
      <th class="date" rowspan="2">
        Date
      </th>
      <% [:expense, :income, :move].each do |kind| %>
        <th colspan="<%= @categories[kind].length * 2 %>">
          <%=h kind.to_s.capitalize %>
        </th>
      <% end %>
    </tr>

    <tr>
      <% [:expense, :income, :move].each do |kind| %>
        <% @categories[kind].each do |cat| %>
          <th class="category" colspan="2">
            <%=h cat.name %>
          </th>
        <% end %>
      <% end %>
    </tr>

    <% make_table_data(acc).each do |row| %>
      <% row_number += 1 %>
      <tr id="row<%=h row_number%>">
        <td class="inserts">
          <span class="pushable" onclick="MoneyRail.insert_row(<%=h row_number%>);">▽</span>
        </td>

        <% row.each do |item| %>
          <% case item
             when Date %>
            <td>
              <%=h item.to_s %>
            </td>
          <% when Item %>
            <td>
              <input type="text" value="<%=h item.title %>">
            </td>
            <td class="number">
              <input type="text" value="<%=h item.amount %>">
            </td>
          <% else %>
            <td>
              <input type="text">
            </td>
            <td class="number">
              <input type="text">
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<% javascript_tag do %>
  var MoneyRail = MoneyRail || {};

  MoneyRail.last_row_number = <%=h row_number %>;

  MoneyRail.category_numbers = [
    <%=h [:expense, :income, :move].map{|kind|
        @categories[kind].length.to_s
      }.join(", ") %>
  ];
<% end %>
