<h1><%=h @year %>/<%=h @month %></h1>

<ul>
  <% @accounts.each_with_index do |account, i| %>
    <li><%= link_to account.name, "#account_#{i}" %></li>
  <% end %>
</ul>

<% @accounts.each_with_index do |account, i| %>
  <a name="account_<%=h i%>" />
  <h2>
    <%=h account.name %>
    <%= link_to '△', move_up_account_path(account) %>
    <%= link_to '▽', move_down_account_path(account) %>
  </h2>

  <table class="editor" title="<%=h account.id %>">
    <tr>
      <th class="inserts" rowspan="2">
      </th>
      <th class="date" rowspan="2">
        Date
      </th>
      <% [:expense, :income, :move].each do |kind| %>
        <th colspan="<%= @categories[kind].length * 2 %>">
          <%=h kind.to_s.capitalize %>
        </th>
      <% end %>
    </tr>

    <tr>
      <% @cat_all.each do |cat| %>
        <th class="category" colspan="2">
          <%=h cat.name %>
        </th>
      <% end %>
    </tr>

    <% make_table_data(account).each do |day, row| %>
      <tr title="<%=h day.strftime('%Y-%m-%d') %>_0">
        <td>
          <span class="pushable">▽</span>
        </td>

        <% row.each do |item| %>
          <% case item
             when Date %>
            <td>
              <%=h item.to_s %>
            </td>
          <% when :no_date %>
            <td></td>
          <% when Item %>
            <td class="title" title="<%=h item.id %>">
              <input type="text" value="<%=h item.title %>">
            </td>
            <td class="amount" title="<%=h item.id %>">
              <input type="text" value="<%=h item.amount %>">
            </td>
          <% else %>
            <td class="title">
              <input type="text">
            </td>
            <td class="amount">
              <input type="text">
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<% javascript_tag do %>
  var MoneyRail = MoneyRail || {};

  MoneyRail.authenticity_token = '<%=h form_authenticity_token %>';

  MoneyRail.category_numbers = [
    <%=h [:expense, :income, :move].map{|kind|
        @categories[kind].length.to_s
      }.join(", ") %>
  ];

  MoneyRail.category_ids = [
    <%=h @cat_all.map{|c| c.id.to_s}.join(", ") %>
  ];

  MoneyRail.item_update_path = function(item_id){
    var str = "<%=h update_item_path(9999) %>.json";
    return str.replace(/9999/, item_id);
  };
<% end %>

<%= link_to 'back', root_path %>
<!-- この文字列は文字化け除けの文章です -->
