<h2>
  <small><%= link_to_edit_or_show("<<", @current_month << 1) %></small>
  <%= h format_month(@current_month) %>
  <small><%= link_to_edit_or_show(">>", @current_month >> 1) %></small>
</h2>
<% if @mode != :edit %>
  <%= link_to_edit_logs "(edit)", @current_month %>
<% end %>

<ul id="account_links">
  <li>
    <%= link_to_function "all",
      "MoneyRail.show_all_accounts();" %>
  </li>
  <% @accounts.each_with_index do |account, i| %>
    <li><%= link_to_function account.name, 
      "MoneyRail.show_only_account(#{i});" %></li>
  <% end %>
</ul>
<br class="clear">

<% @accounts.each_with_index do |account, i| %>
  <%# for each account %>
  <div id="account_<%=h i%>">
  <h3>
    <%=h account.name %>
    <%= link_to '△', move_up_account_path(account) %>
    <%= link_to '▽', move_down_account_path(account) %>
  </h3>

  <%# table %>
  <table class="editor" title="<%=h account.id %>">
    <%# first row %>
    <tr>
      <% if @mode == :edit %>
      <th class="inserts" rowspan="2">
      </th>
      <% end %>
      <th class="date" rowspan="2">
        Date
      </th>
      <% [:expense, :income].each do |kind| %>
        <th colspan="<%= @categories[kind].length * 2 %>">
          <%=h kind.to_s.capitalize %>
        </th>
      <% end %>
    </tr>

    <tr>
      <% @cat_all.each do |cat| %>
        <th class="category" colspan="2">
          <%=h cat.name %>
        </th>
      <% end %>
    </tr>

    <% make_table_data(account).each_with_index do |(day, i, btn, row), k| %>
      <%# for each row %>
      <% tr_class = (k%2 == 0) ? "even" : "odd" %>
      <tr title="<%=h day.strftime('%Y-%m-%d') %>_<%=h i %>" class="<%=h tr_class %>">

        <%# first cell %>
        <% if @mode == :edit %>
        <td>
          <% if btn %>
            <span class="pushable">▽</span>
          <% end %>
        </td>
        <% end %>

        <% row.each do |item| %>
          <%# for each cell %>

          <% case item
             when Date %>
            <td>
              <%=h format_date(item) %>
            </td>

          <% when :no_date %>
            <td></td>

          <% when Item %>
            <td class="title" title="<%=h item.id %>">
              <%= cell(item.title) %>
            </td>
            <td class="amount" title="<%=h item.id %>">
              <%= cell(item.amount) %>
            </td>

          <% else %>
            <td class="title"><%= cell("") %></td>
            <td class="amount"><%= cell("") %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  </div>
<% end %>

<h3>
  Move
</h3>

<div id="move">
  <%# table %>
  <table class="editor" title="TODO">
    <%# first row %>
    <tr>
      <% if @mode == :edit %>
      <th class="inserts" rowspan="2">
      </th>
      <% end %>
      <th class="date" rowspan="2">
        Date
      </th>
      <th colspan="4">
        Move
      </th>
    </tr>

    <tr>
      <th class="category">
        title
      </th>
      <th class="category">
        from
      </th>
      <th class="category">
        to
      </th>
      <th class="category">
        amount
      </th>
    </tr>

    <% make_moves_data.each_with_index do |(day, i, btn, row), k| %>
      <%# for each row %>
      <% tr_class = (k%2 == 0) ? "even" : "odd" %>
      <tr title="<%=h day.strftime('%Y-%m-%d') %>_<%=h i %>" class="<%=h tr_class %>">

        <%# first cell %>
        <% if @mode == :edit %>
        <td>
          <% if btn %>
            <span class="pushable">▽</span>
          <% end %>
        </td>
        <% end %>

        <% row.each do |item| %>
          <%# for each cell %>

          <% case item
             when Date %>
            <td>
              <%=h format_date(item) %>
            </td>

          <% when :no_date %>
            <td></td>

          <% when Item %>
            <td class="title" title="<%=h item.id %>">
              <%= cell(item.title) %>
            </td>
            <td class="account_from" title="<%=h item.id %>">
              <%= account_select_tag(item.account_from) %>
            </td>
            <td class="account_to" title="<%=h item.id %>">
              <%= account_select_tag(item.account_to) %>
            </td>
            <td class="amount" title="<%=h item.id %>">
              <%= cell(item.amount) %>
            </td>

          <% else %>
            <td class="title"><%= cell("") %></td>
            <td class="account_from"><%= account_select_tag() %></td>
            <td class="account_to"><%= account_select_tag() %></td>
            <td class="amount"><%= cell("") %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<% javascript_tag do %>
  var MoneyRail = MoneyRail || {};

  MoneyRail.editable = <%=h (@mode == :edit) ? "true" : "false" %>;

  MoneyRail.authenticity_token = '<%=h form_authenticity_token %>';

  MoneyRail.category_numbers = [
    <%=h [:expense, :income].map{|kind|
        @categories[kind].length.to_s
      }.join(", ") %>
  ];

  MoneyRail.category_ids = [
    <%=h @cat_all.map{|c| c.id.to_s}.join(", ") %>
  ];

  MoneyRail.n_accounts = <%=h @accounts.size %>;

  MoneyRail.item_update_path = function(item_id){
    var str = "<%=h update_item_path(9999) %>.json";
    return str.replace(/9999/, item_id);
  };
  MoneyRail.item_destroy_path = function(item_id){
    var str = "<%=h destroy_item_path(9999) %>.json";
    return str.replace(/9999/, item_id);
  };
  MoneyRail.item_create_path = "<%=h create_item_path %>.json";
<% end %>

<%= link_to 'back', root_path %>
<!-- この文字列は文字化け除けの文章です -->
