<h2>Statictics
  <small><%= link_to_show_month_stats("<<", @month << 1) %></small>
  <%= format_month(@month) %>
  <small><%= link_to_show_month_stats(">>", @month >> 1) %></small>
</h2>

<table class="stats">
  <%# row 1: Expense and Income %>
  <tr>
    <th rowspan="2"></th>
    <th colspan="<%= Category.expenses.size + 1 %>">Expense</th>
    <th colspan="<%= Category.incomes.size  + 1 %>">Income</th>
  </tr>

  <%# row 2: Categories %>
  <tr>
    <% Category.expenses.each do |category| %>
      <th><%=h category.name %></th>
    <% end %>
      <th>sum</th>
    <% Category.incomes.each do |category| %>
      <th><%=h category.name %></th>
    <% end %>
      <th>sum</th>
  </tr>

  <%# row 3-: stat %>
  <% @stat.each do |row| %>
    <tr>
    <% row.each do |cell| %>
      <td><%=h cell%></td>
    <% end %>
    </tr>
  <% end %>
</table>
