<h2>Statictics
  <small><%= link_to_show_stats("<<", @month << 1) %></small>
  <%= format_month(@month) %>
  <small><%= link_to_show_stats(">>", @month >> 1) %></small>
</h2>

<table>
  <tr>
    <th>account</th>
    <% @categories.each do |category| %>
      <th><%=h category.name %></th>
    <% end %>
  </tr>

  <% @stat.each do |row| %>
    <tr>
    <% row.each do |cell| %>
      <td><%=h cell%></td>
    <% end %>
    </tr>
  <% end %>
</table>
