<h2>Statictics
  <small><%= link_to_show_year_stats("<<", @year-365) %></small>
  <%= format_year(@year) %>
  <small><%= link_to_show_year_stats(">>", @year+365) %></small>
</h2>

<table>
  <%# row 1: Expense and Income %>
  <tr>
    <th rowspan="2"></th>
    <th colspan="<%= Category.expenses.size %>">Expense</th>
    <th colspan="<%= Category.incomes.size  %>">Income</th>
  </tr>

  <%# row 2: Categories %>
  <tr>
    <% @categories.each do |category| %>
      <th><%=h category.name %></th>
    <% end %>
  </tr>

  <%# row 3-: stat %>
  <% @stat.each do |row| %>
    <tr>
    <% row.each do |cell| %>
      <td><%=h cell%></td>
    <% end %>
    </tr>
  <% end %>
</table>
